.container {
  
margin-top: 10px;
margin-bottom: 10px;

outline: 1px solid #000000;
/* зададим max размер контейнера для сайта */
min-width: 1270px;
}

.setka {
  outline: 1px solid #FF0000;
  /* text-align: center; */
  /* background: #FFF0F5; */
}


.left-side {
  height: 100vh;
  outline: 1px solid #000000;
  background: #F0F8FF;
  display: flex;
  justify-content: center;
}

.sidebar-bloc{
  outline: 1px solid black;
  background: green;
  width: 300px;
  height: 1000px;

}


/* @media(max-width: 576px){.disp-none { display: none; }} */

.card-bloc{
  outline: 1px solid black;
  background: yellowgreen;
  width: 320px;
  height: 400px;
}

.card-conteiner{
  min-width: 325px;
  max-width: 330px;
  min-height: 405px;
  max-height: 410px;
}


.col-6{
  min-width: 325px;
  max-width: 330px;
  min-height: 405px;
  max-height: 410px;
}

.col-sm-6{
  min-width: 325px;
  max-width: 330px;
  min-height: 405px;
  max-height: 410px;
}

.col-xxl-4{
  min-width: 325px;
  max-width: 330px;
  min-height: 405px;
  max-height: 410px;
}