.wrapper-slider{
    /* outline: 1px solid #000000; */
    width: 280px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.form-range-slider{
    width: 80%;}

.block-slider-cena{
    /* outline: 1px solid #000000; */
    width: 100%;
    height: 17px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    box-sizing: content-box;}

.cena-slider{
    /* outline: 1px solid #000000; */
    width: 60px;
    height: 15px;
    display: flex;
    justify-content: center;}

.cena-slider-rating{
    /* outline: 1px solid #000000; */
    width: 50px;
    height: 15px;
    display: flex;
    justify-content: center;}

.mix-slider{
    margin-right: 12px;}
.number-slider{
    font-size: 12px;}

.mix-slider-cat{
    margin-top: 5px;}