.container {
  
margin-top: 10px;
margin-bottom: 10px;

outline: 1px solid #000000;
/* зададим max размер контейнера для сайта */
min-width: 700px;
}

.setka {
  outline: 1px solid #FF0000;
  /* text-align: center; */
  /* background: #FFF0F5; */
}



.card-bloc{
  outline: 1px solid black;
  background: yellowgreen;
  width: 320px;
  height: 400px;
}

.card-conteiner{
  min-width: 325px;
  max-width: 330px;
  min-height: 405px;
  max-height: 410px;
}

.row{text-align: center;}



