.wrapper-filters-list {
  outline: 1px solid black;
  background: white;
  width: 280px;
  height: 915px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow:0 0 10px #555;}

  .block-slider{
    outline: 1px solid black;
    box-sizing: content-box;
    width: 100%;
    height: 87px;
    padding-top: 15px;}
    .block-slider-text{
      outline: 1px solid black;
      margin-left: 20px;
      font-size: 23px;
      width: 40%;
      height: 30px;
      display: flex;
      align-items: center;
    }

  .category-filters-list{
    outline: 1px solid black;
    width: 100%;
    height: 290px;}

    .block-category-brand{
      outline: 1px solid black;
      box-sizing: content-box;
      width: 75%;
      height: 34px;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-left: 20px;
      font-size: 23px;}

      .blocks-cat-br{
        outline: 1px solid black;
        width: 75%;
        height: 26px;
        margin-top: 4px;
        margin-left: 20px;
        display: flex;
        align-items: center;}

  .brand{
    outline: 1px solid black;
    width: 100%;
    height: 415px;}

  .block-line{
    /* outline: 1px solid black; */
    width: 75%;
    /* height: 3px; */
    margin-top: 9px;
    margin-left: 20px;
    border-bottom: 2px solid #d6d6d6;
  }

.strip{
  border-top:2px solid #d6d6d6;}

.none-style-filters{
  text-decoration: none;
  list-style: none;}

.text-color-filters{
  color: #808080;
  font-size: 16px;
  margin-left: 5px;
}

.cursor-filter-list{
  cursor: pointer;
  margin-left: 0px;
}

/* Размеры квадрата checkbox */
input[type=checkbox] {
  width: 21px;
  height: 18px;
}

























