.wrapper-header-component{
    /* outline: 1px solid #000000; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

    .header-text-online-store{
        /* outline: 1px solid #000000; */
        width: 225px;
        height: 45px;
        font-size: 40px;
        display: flex;
        align-items: center;
        color: #7e72f2;
        font-weight: 600;
        margin-left: 20px;}

    .header-cart{
        /* outline: 1px solid #000000; */
        border-radius: 4px;
        background:  #7e72f2;
        width: 110px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;}
        .header-cart-bloc{
            /* outline: 1px solid #000000; */
            width: 95px;
            height: 20px;
            display: flex;
            display: flex;
            justify-content: center;}
            .header-cart-bloc-resicle{
                /* outline: 1px solid #000000; */
                width: 30px;
                height: 100%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;}
            .header-cart-bloc-text{
                /* outline: 1px solid #000000; */
                height: 100%;
                font-size: 14px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;}
        .button-header-cart-bloc:hover {background: #00008B;}

    

